<!--<header *ngIf="status || !status">-->
<header *ngIf="status">
  <nav class='MenuColored navbar navbar-expand-sm navbar-toggleable-sm navbar-light mb-3'
       style="padding: 0px;">

    <div class="container" style="padding: 0px; margin: 0px; padding-left: 25px; padding-right: 50px; max-width: 100%;">

      <a class="navbar-brand" [routerLink]='["/"]'>
        <img src="../../assets/Images/logoonheader.png" style="height : 54px;" />
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]='{"show": isExpanded}'>
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
            <img src="../../assets/Images/member.png" style="height : 27px; display: inline-block;" />
            <a class="nav-link text-dark" [routerLink]='["/"]' style="display: inline-block; padding-right: 50px; color:white;">
              <span style="color: white">
                Support
              </span>
            </a>
            <span style="color: white;">|</span>
            <img src="../../assets/Images/support.png" style="height : 27px; padding-left: 15px; display: inline-block;" />
            <div style="display: inline-block;">
              <span class="badge badge-pill badge-info" style="position: relative;left: 35px; top:5px; z-index : 2;">0</span>
              <img src="../../assets/Images/02.png" style="height : 27px; position: relative;" />

            </div>

            <div style="display: inline-block;">
              <span class="badge badge-pill badge-info" style="position: relative;left: 35px; top:5px; z-index : 2;">0</span>
              <img src="../../assets/Images/01.png" style="height : 27px; position: relative;" />

            </div>


            <div style="display: inline-block;">
              <img src="../../assets/Images/exit.png" style="height : 27px; padding-left: 25px; cursor: pointer;" (click)="logout()" />
            </div>

          </li>
          <!--<li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
            <a class="nav-link text-dark" [routerLink]='["/"]'>Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a class="nav-link text-dark" [routerLink]='["/counter"]'>Counter</a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a class="nav-link text-dark" [routerLink]='["/fetch-data"]'>Fetch data</a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a class="nav-link text-dark" [routerLink]='["/users/get"]'>users</a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a class="nav-link text-dark" [routerLink]='["/users/create"]'>Sign Up</a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]' *ngIf="!status">
            <a class="nav-link text-dark" [routerLink]='["/users/login"]'>Login</a>
          </li>-->


        </ul>

      </div>
    </div>
  </nav>
</header>
