<div class="col-12 MenuColored" style="padding: 0px; height: 100%;">
  <div style="padding-top: 10%;" class=" col-xl-4 offset-xl-4 col-lg-5 offset-lg-4 col-md-7 offset-md-3 col-sm-10 offset-sm-1" dir="ltr">
    <div class="container">
      <!--<div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <h5 class="text-center col-xl-12 col-lg-12 col-md-12 col-sm-12">لطفاً اطلاعات خود را وارد نمائید</h5>
      </div>-->

      <div class="row ">
        <div class="col-12">
          <br />
          <form #f="ngForm" novalidate (ngSubmit)="login(f)" autocomplete="off">

            <div class="form-group">
              <owl-form-field class="owlng-input-customised">
                <input owlInput id="username" type="text" name="username" autoFocus
                       autocomplete="off" ngModel required #username="ngModel"
                       placeholder="Username" class="input-color-customised">

                <owl-error *ngIf="username.errors?.required && username.touched" style="font-size: larger;">
                  Username is <strong>required</strong>
                </owl-error>
              </owl-form-field>
            </div>

            <div class="form-group">
              <owl-form-field class="owlng-input-customised">
                <input owlInput type="{{ showPassword ? 'text' : 'password' }}" #password="ngModel"
                       id="password" autocomplete="off" name="password" placeholder="Password"
                       required ngModel class="input-color-customised">

                <span owlSuffix (click)="togglePassword()" style="cursor: pointer;">
                  <mat-icon *ngIf="showPassword">visibility_off</mat-icon>
                  <mat-icon *ngIf="!showPassword">visibility</mat-icon>
                </span>

                <owl-error *ngIf="password.errors?.required && password.touched" style="font-size: larger;">
                  Password is <strong>required</strong>
                </owl-error>

              </owl-form-field>
            </div>

            <div class="form-group col-xl-12 col-lg-12 col-md-12 col-sm-12 text-center">

              <button type="submit" class="owlng-btn" [disabled]="f.invalid || isRequesting"
                      owlRipple [owlRippleColor]="'rgba(81, 45, 168, 0.4)'" style="z-index:5;">
                Login
              </button>

              <ngx-spinner bdOpacity=1
                           bdColor="#333"
                           size="large"
                           color="#fff"
                           type="ball-atom"
                           fullScreen="true">
                <p style="color: white"> Loading... </p>
              </ngx-spinner>

            </div>

            <div *ngIf="errors" class="alert alert-danger" role="alert">
              <strong>خطا : </strong> {{errors}}
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>


