<div class="col-12 text-center">

  <div class="text-center mx-auto" style="width: 90%;">

    <ngx-spinner bdColor="rgba(51,51,51,0.5)"
                 size="large"
                 color="#fff"
                 type="ball-atom"
                 fullScreen="true">
      <p style="color: white"> Loading... </p>
    </ngx-spinner>
    
    <table class="table table-striped" *ngIf="users">
      <thead>
        <tr class="text-center">
          <th>Name</th>
          <th>Family</th>
          <th>Mobile Number</th>
          <th>E-Mail</th>
          <th>Username</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users" class="text-center">
          <td>{{ user.name }}</td>
          <td>{{ user.family }}</td>
          <td>{{ user.mobile }}</td>
          <td>{{ user.eMail }}</td>
          <td>{{ user.userName }}</td>
        </tr>
      </tbody>
    </table>

  </div>

</div>
